
@{
    ViewData["Title"] = "Companies";
}

<h1>Companies</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Companies" asp-action="ListCompanies">List all Companies</a>
    </li>
</ul>