
@{
    ViewData["Title"] = "Incidents";
}

<h1>Incident - Tools</h1>

<h4>Incidents</h4>


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Incidents" asp-action="ListIncidents">List all Incidents</a>
    </li>
</ul>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsP1">List all Incidents - P1 , Recieved , Dispatched</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsP2">List all Incidents - P2 , Recieved , Dispatched</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Incidents" asp-action="ListIncidentsP3">List all Incidents - P3 , Recieved , Dispatched</a>
    </li>
</ul>

<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Reporting">Back to Reporting</a>
