
@{
    ViewData["Title"] = "People";
}

<h1>People</h1>

<h4>People</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="People" asp-action="ListPeople">List all People</a>
    </li>
</ul>