
@{
    ViewData["Title"] = "Reporting";
}

<h1>Reporting</h1>

<h4>Tickets</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Tickets">Go to Tickets</a>
    </li>
</ul>

<h4>Incidents</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Incidents">Go to Incidents</a>
    </li>
</ul>
<h4>Worklogs</h4>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="WorkLogs">Go to Worklogs</a>
    </li>
</ul>
