
@{
    ViewData["Title"] = "WorkLogs";
}

<h1>Worklog - Tools</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="WorkLogs" asp-action="ListWorkLogs">List all Worklogs</a>
    </li>
</ul>



<a class="btn btn-sm btn-success" asp-controller="Home" asp-action="Reporting">Back to Reporting</a>
